<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudiantes Activos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list><!--Lista de elementos-->
    <div *ngFor="let student of students; index as i"><!--for paraobtener todos los elementos-->
      <ion-item *ngIf="!student.active">
        <ion-label>{{student.name}}</ion-label>
        <ion-chip color="danger">
          <label>Activo</label>
        </ion-chip>
      </ion-item>
    </div>
  </ion-list>
</ion-content>